.hero-bg {
  /* background-image: url("../../../public/assets/tailorspace-hero-bg.png"); */
  background: rgb(112, 193, 227);
  background: linear-gradient(
    236deg,
    rgba(112, 193, 227, 1) 0%,
    rgba(180, 185, 188, 1) 62%,
    rgba(255, 255, 255, 1) 100%
  );
  object-fit: cover;
  object-position: center;
  background-repeat: no-repeat;
  position: relative;
  border-radius: 30px;
  overflow: visible;
  z-index: 1;
}

.hero-bg::before {
  content: "";
  position: absolute;
  bottom: 0;
  left: -136px;
  width: 300px;
  height: 100px;
  background-color: white;
  z-index: 10;
  rotate: 40deg;
}
