# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Ignore all 3D models in the public folder
public/*.3d
public/*.obj
public/*.fbx

# Ignore 3D model files
# /public/assets/scene.bin
# /public/assets/scene.gltf