/* .cta{
    background-image: url("../../../public/assets/tailorspace-cta-bg.png");
    background-repeat: no-repeat;
    object-position: center;
    object-fit: cover;
    height: 100vh;
    border: 1px solid black;
} */