.footer-tailor-lg{
    font-size: 274px;
    font-weight: 900;
    
    background-image: linear-gradient(#77C1E0, #E8E9EB);
    color: transparent;
    background-clip: text;
    position: absolute;
    top: -115px;
    left: 0;
    opacity: 0.2;
}

.footer-space-lg{
    font-size: 274px;
    font-weight: 900;
    background-image: linear-gradient(#77C1E0, #E8E9EB);
    color: transparent;
    background-clip: text;
    position: absolute;
    bottom: -50px;
    right: 0;
    opacity: 0.2;
}